# Gemini API Key (Obrigatória para o GB funcionar)
GEMINI_API_KEY=your_api_key_here

# Asaas Config
# ASAAS_API_KEY=$aact_prod_... (Obtained from Asaas Panel)
# ASAAS_WEBHOOK_TOKEN=whsec_... (Obtained from Asaas Webhook Config)
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
VITE_ASAAS_ENVIRONMENT=production
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
